@model IEnumerable<StudentManagementSys.Views.ViewModels.ClassroomVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CRID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRoomTeacherName)
            </th>
            <td style="font-weight: bold">
                @*@Html.DisplayNameFor(model => model.StudentsID)*@
                Students
            </td>
            <th>
                @Html.DisplayNameFor(model => model.MonitorID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CRID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRoomTeacherName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentsID.Count)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CRID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CRID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CRID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
