@model IEnumerable<StudentManagementSys.Controllers.Dto.SimplifiedAccount>
@{
    ViewData["Title"] = "AccountTable";
}


<h1>Account Table</h1>

<li class="nav-item">
    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/RegisterSimplified">Register</a>
</li>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="SetRole" asp-route-id="@item.accountId">Set Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<li class="nav-item">
    <a asp-action="Index">Back to List</a>
</li>
